name: Check if package version is updated

on:
  pull_request:
    branches:
      - master
jobs:
  start:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Check if version has been updated
        id: check
        uses: EndBug/version-check@v2.1.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          file-name: ./backend/package.json

      - name: Log when changed
        if: steps.check.outputs.changed == 'true'
        run: 'echo "Yayy!! Version change found in commit ${{ steps.check.outputs.commit }}! New version: ${{ steps.check.outputs.version }} (${{ steps.check.outputs.type }})"'

      - name: Dry run Arka build
        run: cd backend && bun install && bun run build

      - name: Log when unchanged
        if: steps.check.outputs.changed == 'false'
        run: echo "No version change :/ Please update version in package.json!" && exit 1
